@viewport{
    min-width: 960px;
}html,body,div,span,p,dt,dd,ol,ul,li,fieldset,form,label,button,input,table,caption,tbody,tfoot,thead,tr,th,td,abbr{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}html,body{min-width:960px;}.clickable{cursor:pointer;}.crypto_address{font-family:"Courier New",Courier,"Lucida Console",Monaco,monospace;}.top_announcement{position:relative;margin:0;}.top_announcement .message{text-align:center;}.top_notification{position:fixed;top:0;left:0;right:0;text-align:center;z-index:9000;}.top_notification .alert{margin-bottom:0;}.crowded{display:none;}.header,.main_panel,.footer{padding-left:10px;padding-right:10px;}.header{background:#eee;color:#222;font-size:12px;height:35px;}.header>*{float:left;line-height:35px;}.header .logo{position:relative;width:54px;height:35px;}.header .logo .pizza,.header .logo .charts{color:#0a0;font-weight:bold;font-size:14px;line-height:14px;}.header .logo .pizza{position:absolute;top:3px;left:0;}.header .logo .charts{position:absolute;top:18px;left:0;}.header .tagline{margin-left:16px;}.header .tagline .secondary{color:#888;}.header .navigation_container{float:right;margin-left:20px;height:100%;}.header a.nav_btn,.header a.nav_btn:link,.header a.nav_btn:visited{color:#222;}.header a.nav_btn{float:left;height:100%;padding:0 12px;}.header a.nav_btn:hover{background:#ddd;border-bottom:2px solid #ccc;color:#090;}.header a.nav_btn.active{border-bottom:2px solid #0c0;color:#0a0;}.header a.nav_btn.active:hover{background:inherit;}.header .account_links{float:left;margin-left:30px;}.header .account_links>a{padding-top:12px;padding-bottom:12px;}.header .account_links .logout_link{display:inline;}.header .account_links .sign_out_btn{background:initial;border:0;margin:0;padding:0;outline:none;-webkit-box-shadow:0 0 0 0;-moz-box-shadow:0 0 0 0;box-shadow:0 0 0 0;}.header .account_links .sign_out_btn,.header .account_links .sign_out_btn:link,.header .account_links .sign_out_btn:visited{color:#1C87BC;text-decoration:none;cursor:pointer;}.header .account_links .sign_out_btn:hover,.header .account_links .sign_out_btn:focus,.header .account_links .sign_out_btn:active{color:#3AC2FA;text-decoration:none;}.main_panel{margin-bottom:5px;}.main_panel.free_tier{margin-right:160px;}.side_panel{float:right;width:160px;height:600px;margin-top:10px;margin-bottom:5px;padding:10px;background:#eee;text-align:center;}.side_panel .announce,.side_panel .announce a{font-size:18px;}.content{width:600px;margin-left:auto;margin-right:auto;padding-top:24px;padding-bottom:24px;}.footer{border-top:2px solid #eee;line-height:28px;margin-top:5px;padding-top:4px;padding-bottom:4px;font-size:12px;max-height:42px;}.footer .donate,.footer .social.follow,.footer .social.share,.footer .help_button{float:left;margin-left:50px;line-height:28px;}.footer .donate{margin-left:0;}.footer .social.follow,.footer .social.share{position:relative;}.footer .items,.footer .social.follow .items,.footer .social.share .items{display:none;position:absolute;bottom:24px;background:white;padding:10px;line-height:14px;border:1px solid #aaa;-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.15);box-shadow:0 0 8px 0 rgba(0,0,0,0.15);}.footer .donate .items{left:0;width:380px;padding:20px 20px 10px 20px;}.footer .social.follow .items{left:-74px;width:202px;}.footer .social.share .items{left:-63px;width:238px;}.footer .donate:hover .items,.footer .social.follow:hover .items,.footer .social.share:hover .items,.footer .donate .items:hover,.footer .social.follow .items:hover,.footer .social.share .items:hover{display:inline;}

.last_login_notification {
    font-size: 12px;
    padding: 10px;
}

.last_login_notification .value {
    font-weight: bold;
    text-transform: uppercase;
}

.social_wrapper {
    margin-bottom: 40px;
    padding-right: 50px;
}

.email_wrapper {
    padding-left: 50px;
    border-left: 1px solid #eee;
}

.mechanism {
    float: left;
    margin-top: 10px;
    width: 300px;
}

.socialaccount_providers {
    padding-left: 0;
}

.socialaccount_providers li {
    list-style-type: none;
}

.socialaccount_providers a.socialaccount_provider {
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    margin: 5px 0;
    width: 100px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    padding: 8px 8px 8px 40px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.socialaccount_providers a.socialaccount_provider.openid {
    background-color: #f7931e;
    background-image: url(../images/social/openid_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.openid:hover {
    color: #ffb1a7;
}

.socialaccount_providers a.socialaccount_provider.yahoo {
    background-color: #7B0099;
    background-image: url(../images/social/yahoo_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.yahoo:hover {
    color: #b1caff;
}

.socialaccount_providers a.socialaccount_provider.hyves {
    background-color: #ffba27;
    background-image: url(../images/social/hyves_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.hyves:hover {
    color: #b1caff;
}

.socialaccount_providers a.socialaccount_provider.facebook {
    background-color: #3b5998;
    background-image: url(../images/social/facebook_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.facebook:hover {
    color: #b1caff;
}

.socialaccount_providers a.socialaccount_provider.twitter {
    background-color: #00acee;
    background-image: url(../images/social/twitter_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.twitter:hover {
    color: #8cdfff;
}

.socialaccount_providers a.socialaccount_provider.google {
    background-color: #dd4b39;
    background-image: url(../images/social/google_icon_normal.png);
}

.socialaccount_providers a.socialaccount_provider.google:hover {
    color: #ffb1a7;
}

#signup_form, .login {
    max-width: 220px;
    margin-bottom: 20px;
}

